@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Alike&family=Comfortaa&family=Delicious+Handrawn&family=Krub&family=Playfair+Display&family=Poppins:wght@300&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/S23Ultra.png");
  background-repeat: no-repeat;
  background-position: 50%;
  
  background-attachment: fixed;
  background-color: #f0f2f5;
  background-size: cover;
  background-origin: initial;
  background-clip: initial;
  font-family: "Poppins", sans-serif;
}
